@page "/"
@using GestionProyectos.Client.Services
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Bienvenido a la aplicación. Empieza a navegar.</h1>
    </div>


@code {

}